body{
    background-color: aqua;
    font: normal 15pt Arial;
}

header{
    text-align: center;
    color: black;
}

section{
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

select#list{
    width: 200px;
}

footer{
    text-align: center;
    font-size: large;
    font-style: italic;
    color: white;
}